.row-fluid
  .span12
    .page-header
      h1
        | Contact
.row-fluid
  .span1
    | email
  .span1
    | :
  .span10
    = mail_to 'medinarodelsamson@gmail.com', 'medinarodelsamson@gmail.com' 
.row-fluid
  .span1
    | skype
  .span1
    | :
  .span10
    = link_to 'medina.rodel', 'skype:medina.rodel?call' 