p= knows

p I've been developing and learning web development since June of 2008. I have developed different websites like simple CMS to complex applications like complex business logic, connecting with 3rd party APIs or connecting with other technology like Java. Most of the projects I have done are for start ups, which we need to build from scratch. I've also been put to projects which has existing codes and I need to adapt and understand the code of others.

p I had 2years experience of full time PHP developer then shifted to Ruby on Rails. Though I've been a full time Rails developer, I've been able to work on some PHP side projects and I never let myself be outdated of PHP updates. I was able to learn Laravel PHP framework and was able to implement it to one of my PHP projects.

p I've been using Twitter Bootstrap since 2.3 version to serve as my HTML/CSS foundation to all my projects, which is also great in handling responsiveness. I had some clients who requires their site to be responsive on mobiles and tablets, and Bootstrap has been great help to accomplish responsiveness.

p In mid-year 2014, I started developing iOS applications.