.row-fluid
  .span12
    .page-header
      h1
        | Rodel Samson Medina 
        small
          | Web Developer
    p.lead
      | A web developer since 2008.  I first started as a PHP developer then I shifted to Ruby, and now, I am using Ruby on Rails framework. I have a solid background and experience in Javascript, JQuery, CSS and HTML, PSD to HTML.
.row-fluid
  .span12
    .page-header
      h2
        | Portfolio
    p.lead
      | I have developed different types of websites and applications. Some samples of these are a Social Networking site integrated with Facebook, a website that is like Pinterest but for interior design, a Content Management System for Real Estate owners and brokers, an e-Commerce website for beauty products, and an online invoicing for restaurants. Below are some of the sites I have worked with. Please hover your mouse over the links for details.

.row-fluid.portfolios
  .span6
    h3
      | Ruby on Rails
    a data-content="A Makerting Email tool for brokers. It is a tool to allow users to track their marketing emails and communicate with their prospects. It is using LinkedIn as an option to login.<br /><br /><strong>CONTRIBUTION:</strong><br />Front-end and Back-end side of the development." href="http://www.deal-q.com" title="Info"
      | http://deal-q.com
    br/
    a data-content="A pinterest-like website but interior-design-focused. It also has an image scraper widget. It is using Facebook API as an option to register and login.<br /><br /><strong>CONTRIBUTION:</strong><br />Front-end and Back-end side of the development." href="http://www.roomscaper.com" title="Info"
      | http://roomscaper.com
    br/
    a data-content="A tool that allows users to search someone who is expert on a particular area, and call. It is using Facebook API for user registration and login.<br /><br /><strong>CONTRIBUTION:</strong><br />Front-end and Back-end side of the development.." href="http://www.wizpert.com" title="Info"
      | http://wizpert.com
    br/
    a data-content="A social networking focused on Feast or Events. It is using Facebook API for user registration and login.<br /><br /><strong>CONTRIBUTION:</strong><br />Front-end and Back-end side of the development." href="http://www.melba.co" title="Info"
      | http://melba.co
    br/
  .span6
    h3
      | PHP
    a data-content="A Content Management System tool for real estate business. It allows users to sign up and create their site instantly.<br /><br /><strong>CONTRIBUTION:</strong><br />Back-end side of the development." href="http://www.agentsuite.com" title="Info"
      | http://agentsuite.com
    br/
    a data-content="It is a real estate website. It has a Content Management System.<br /><br /><strong>CONTRIBUTION:</strong><br />Back-end side of the development." href="http://www.dianewilliamsandassociates.com" title="Info"
      | http://dianewilliamsandassociates.com
    br/
    a data-content="Wordpress MU site. A site for Moms and Moms to be.<br /><br /><strong>CONTRIBUTION:</strong><br />Back-end side of the development." href="http://www.momfinds.com" title="Info"
      | http://momfinds.com
    br/
    a data-content="A restaurant-bar site. It has a Content Management System.<br /><br /><strong>CONTRIBUTION:</strong><br />Back-end side of the development." href="http://www.patrickmolloys.com" title="Info"
      | http://patrickmolloys.com
    br/
    a data-content="Wordpress MU site. A site for girls fashion.<br /><br /><strong>CONTRIBUTION:</strong><br />Back-end side of the development." href="http://www.shefinds.com" title="Info"
      | http://shefinds.com