<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h1>
          Rodel Samson Medina 
          <small>Web Developer</small>

      </h1>
    </div>

    <!-- p>
      <span class='badge badge-success'>Ruby on Rails</span>
      <span class='badge badge-success'>JQuery</span>
      <span class='badge badge-success'>AJAX</span>
      <span class='badge badge-success'>HTML</span>
      <span class='badge badge-success'>CSS</span>
    </p !--> 
    
  </div>
</div>

<p class="lead">
  I am an experienced web developer.  I first started as a PHP developer then I shifted to Ruby, and now, I am using Ruby on Rails framework. I also have a solid background and experience in Javascript, JQuery, CSS and HTML.
</p>

<p class="lead">
  I have developed different types of websites and applications. Some samples of these are a Social Networking site integrated with Facebook, a website that is like Pinterest but for interior design, and a Content Management System for Real Estate owners and brokers. 
</p>

<p>
  <i>
    Checkout the <a href='<%= portfolio_path%>'>Portfolio</a> page.
  </i>
</p>