<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h1>
          Portfolio
      </h1>
    </div>

  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <div class ="alert alert-info">
      <h4>Under construction.</h4>
      <p>But below are the things I have experience with.</p>
    </div>
  </div>  
</div>
  
<ul>
    <%= knows%>
</li>