.row-fluid
  .span12
    .page-header
      h1
        | View Report
table.table.table-bordered
  tr
    th IP
    th URL
    th DETAILS
    th DATE

    - Tracker.order('created_at DESC').each do |track|
      tr
        td= track.ip
        td= track.url
        td= track.details
        td= track.created_at.strftime('%B %d %Y at %I:%M%p')