<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h1>
          View Report
      </h1>
    </div>

  </div>
</div>

<table class='table'>
  <tr>
    <th>IP</th>
    <th>URL</th>
    <th>DETAILS</th>
  </r>
<% Tracker.order(:created_at).each do |track|%>
<tr>
  <td><%= track.ip%></td>
  <td><%= track.url%></td>
  <td><%= track.details%></td>
</r>
<% end %>
</table>