body
{
  background: url("bg.png") 0 0 repeat brown;
}

.main-container
{
  border: 1px solid #D8DAE4;
  padding: 60px 20px 20px 20px;
  background-color: white;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1);
}


.navbar-blue
{
  background-color: #3399FF;
  border-bottom: 1px white;

  .navbar-nav > li > a
  {
    color: white;
  }
}

h2, h4
{
  color: #9A3334;
}

p a
{
  color: #FF9900;
}