body
{
  background: url("bg.png") 0 0 repeat #f2f2f2;
}

.main-container
{
  padding: 20px;
}

.project
{
  margin: 10px 20px 30px 20px;
}

span.tech 
{
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background: none 0 0 repeat #5cb85c;
  color: #ffffff;

}

@media (max-width: 992px)
{
  .col-md-6.text-right 
  {
    text-align: left;
  }
}